<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EMSServerURL" connectionString="tcp://localhost:7222"/>
    <add name ="username" connectionString="admin"/>
    <add name ="password" connectionString=""/>
    <add name ="Client-ID" connectionString="BE-ING-IFS-LAMS"/>
  </connectionStrings>
  <appSettings>
    <add key="QueueName" value="Consumers.For.BW.q1"/>
  </appSettings>
</configuration>