<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JNDIContextURL" connectionString="tibjmsnaming://localhost:7222" />
    <add name="JNDIContextSSLURL"   connectionString="tibjmsnaming://localhost:7243" />
    <add name="JmsSslProviderUrl"   connectionString="ssl://localhost:7243" />
    <add name="JmsProviderUrl"   connectionString="tcp://localhost:7222" />
    <add name="QueueConnectionFactory"   connectionString="SSLQueueConnectionFactory" />    
    <add name="username" connectionString="admin" />
    <add name="password" connectionString="" />
    <add name="Client-ID" connectionString="BE-ING-IFS-LAMS" />
    <add name="EMSServercertiFicate"   connectionString="D:\Entwicklung\TibcoEms\ems\6.3\samples\certs\server.cert.pem" />
    <add name="CA-CertiFicate"   connectionString="D:\Entwicklung\TibcoEms\ems\6.3\samples\certs\server_root.cert.pem" />
    <add name="ssl_trace"   connectionString="true" />
    <add name="TargetHostName"   connectionString="www.example.com" />
    <add name="TrustStore"   connectionString="D:\Entwicklung\TibcoEms\ems\6.3\samples\certs\" />
    
  </connectionStrings>
  <appSettings>
    <add key="QueueName" value="Consumers.For.DULDXXXX.q1" />
    <add key="NoOfSessions" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>